---
layout: default
title: Getting started
slug: iframe
---
<body id="android-tooltips" class="iframe nav_tab_sticky android_page">
  <div class="main_wrapper">
    <div id="content" class="pad-top-40 pad-bottom-40">
      <div class="pad-top-20 hero">
        <h1 class="fs-1">
          <small>Android Components</small> Tooltips
        </h1>
        <p class="lead col-8 no-float no-padding">
          Tooltips are text labels that appear when the user hovers over, focuses on, or touches an element.
        </p>
        <ul class="nav nav-tabs nav-append-content">
          <li class="active"><a href="#tab1">Usage</a></li>
          <li><a href="#tab2">Style</a></li>
          <li><a href="#tab3">Behavior</a></li>
          <li><a href="#tab4">Specs</a></li>
        </ul> <!-- /tabs -->
        <div class="background_hero"></div>
      </div>

      <div class="tab-content no-border md_live_styleguide">
        <div id="tab1" class="tab_wrapper active">
          {% include examples/android/temp_tab_usage.html %}
        </div>

        <div id="tab2" class="tab_wrapper">
          {% include examples/android/temp_tab_style.html %}
        </div>
        
        <div id="tab3" class="tab_wrapper">
          {% include examples/android/temp_tab_behavior.html %}
        </div>

        <div id="tab4" class="tab_wrapper">
          {% include examples/android/temp_tab_specs.html %}
        </div>
      </div>
    </div>
  </div>