<div class="iframe_content">
  <h2>Usage</h2>
  <div class="row clear pad-top-20 pad-bottom-40 img-full">
    <div class="col-4">
        <p><strong>Lorem ipsum dolor</strong></p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam in tortor a dolor porttitor malesuada vitae sed urna.</p>
    </div>
    <div class="col-4">
    		<img src="{{site.baseurl}}/img/placeholder.png" class="block blank">
        <p class="img-comment">Quisque vel fermentum tellus. Sed aliquam</p>
    </div>

    <div class="col-4">
        <img src="{{site.baseurl}}/img/placeholder.png" class="block blank">
        <p class="img-comment">Suspendisse luctus mattis cursus</p>
    </div>
  </div>

  <div class="row clear pad-top-20 pad-bottom-40 img-full">
    <div class="col-4">
        <p><strong>Lorem ipsum dolor</strong></p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam in tortor a dolor porttitor malesuada vitae sed urna.</p>
    </div>
    <div class="col-4">
        <img src="{{site.baseurl}}/img/placeholder.png" class="block blank">
        <p class="img-comment"> <strong class="block teal"><span class="fui-check"></span> Do.</strong> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi accumsan ornare velit.</p>
    </div>

    <div class="col-4">
        <img src="{{site.baseurl}}/img/placeholder.png" class="block blank">
        <p class="img-comment"> <strong class="block warmth"><span class="fui-cross"></span> Don't.</strong> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi accumsan ornare velit.</p>
    </div>
  </div>

  <div class="row clear pad-top-20 pad-bottom-20 img-full">
    <div class="col-4">
        <p><strong>Lorem ipsum dolor</strong></p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam in tortor a dolor porttitor malesuada vitae sed urna.</p>
    </div>
    <div class="col-4">
        <img src="{{site.baseurl}}/img/placeholder.png" class="block blank">
        <p class="img-comment"> <strong class="block teal"><span class="fui-check"></span> Do.</strong> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi accumsan ornare velit.</p>
    </div>

    <div class="col-4">
        <img src="{{site.baseurl}}/img/placeholder.png" class="block blank">
        <p class="img-comment"> <strong class="block warmth"><span class="fui-cross"></span> Don't.</strong> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi accumsan ornare velit.</p>
    </div>
  </div>
</div>

<hr class="separator_section">