<meta name="description" content="">

<META NAME="ROBOTS" CONTENT="NOINDEX, FOLLOW">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="shortcut icon" type="image/x-icon" href="{{site.baseurl}}/img/favicon.png">
<link rel="apple-touch-icon" sizes="57x57" href="{{site.baseurl}}/img/apple-touch-icon.png">
<link rel="apple-touch-icon" sizes="72x72" href="{{site.baseurl}}/img/apple-touch-icon-72x72.png">
<link rel="apple-touch-icon" sizes="114x114" href="{{site.baseurl}}/img/apple-touch-icon-114x114.png">

<!-- Loading Bootstrap -->
<link href="{{site.baseurl}}/bootstrap/css/bootstrap.css" rel="stylesheet" type="text/css">


{% if page.slug == "iframe" %}
	<link rel="stylesheet" href="{{site.baseurl}}/css/docs.css" type="text/css">
{% endif %}


<link rel="stylesheet" href="{{site.baseurl}}/css/pygments-native.css" type="text/css">

<!-- Theme -->
<link rel="stylesheet" href="{{site.baseurl}}/css/theme.css" type="text/css">
<link rel="stylesheet" href="{{site.baseurl}}/css/library.css" type="text/css">