<script src="{{site.baseurl}}/js/vendor/jquery-1.12.3.min.js"></script>
<script src="{{site.baseurl}}/js/plugins/jquery.scrollTo.min.js"></script>

<script src="{{site.baseurl}}/js/plugins/greensock/TweenMax.min.js"></script>
<script src="{{site.baseurl}}/js/plugins/tendina/tendina.min.js"></script>
<script src="{{site.baseurl}}/js/plugins/smint/jquery.smint.js"></script>

<link href="{{site.baseurl}}/js/plugins/perfect-scrollbar/css/perfect-scrollbar.css" rel="stylesheet">
<script src="{{site.baseurl}}/js/plugins/perfect-scrollbar/js/perfect-scrollbar.jquery.js"></script>

<script src="{{site.baseurl}}/js/plugins/bootstrap-select.js"></script>

<script src="{{site.baseurl}}/js/plugins/jquery.cookie.js"></script>

<script src="{{site.baseurl}}/js/functions.js"></script>
<script src="{{site.baseurl}}/js/default.js"></script>
<script src="{{site.baseurl}}/js/mdlive.js"></script>
<script src="{{site.baseurl}}/js/plugins/pace/pace.js"></script>