<script src="{{site.baseurl}}/js/vendor/jquery-1.12.3.min.js"></script>
<script src="{{site.baseurl}}/js/plugins/jquery.scrollTo.min.js"></script>

<script src="{{site.baseurl}}/js/plugins/greensock/TweenMax.min.js"></script>
<script src="{{site.baseurl}}/js/plugins/tendina/tendina.min.js"></script>
<script src="{{site.baseurl}}/js/plugins/smint/jquery.smint.js"></script>

<link href="{{site.baseurl}}/js/plugins/perfect-scrollbar/css/perfect-scrollbar.css" rel="stylesheet">
<script src="{{site.baseurl}}/js/plugins/perfect-scrollbar/js/perfect-scrollbar.jquery.js"></script>

<script src="{{site.baseurl}}/js/plugins/bootstrap-select.js"></script>

<script src="{{site.baseurl}}/js/plugins/jquery.cookie.js"></script>

<script src="{{site.baseurl}}/js/functions.js"></script>
<script src="{{site.baseurl}}/js/default.js"></script>
<script src="{{site.baseurl}}/js/mdlive.js"></script>
<script src="{{site.baseurl}}/js/plugins/pace/pace.js"></script>
<script type="text/javascript">
	var sc_project=9244473; 
	var sc_invisible=1; 
	var sc_security="b0a4b7b3"; 
	var scJsHost = (("https:" == document.location.protocol) ?
	"https://secure." : "http://www.");
	document.write("<sc"+"ript type='text/javascript' src='" +
	scJsHost+
	"statcounter.com/counter/counter.js'></"+"script>");
</script>