<div id="sidebar">
  <a href="{{site.baseurl}}/" class="cta_to_homepage logo_sidebar"><img src="{{site.baseurl}}/img/PC_logo-2015-solo.svg"></a>

  <div class="sidebar_wrapper fs-5">
    <ul class="tendina_dropdown">
      <li class="root_">
        <a id="getting-started" class="link_" href="#">Getting Started</a>
        <ul class="submenu">
          <li><a class="getting_started" href="../guidelines/getting_started/overview.html" target="iframe">Overview</a></li>
          <li><a class="design_principles" href="../guidelines/getting_started/design_principles.html" target="iframe">Design Principles</a></li>
          <li><a class="ux_process" href="../guidelines/getting_started/ux_process.html" target="iframe">UX Process</a></li>
          
          <li><a class="more" href="#">Personas</a>
            <ul class="third">
              <li><a class="persona_medical" href="../guidelines/getting_started/persona_medical.html" target="iframe">Medical Persona</a></li>
              <li><a class="persona_patient" href="../guidelines/getting_started/persona_patient.html" target="iframe">Patient Persona</a></li>
              <li><a class="persona_health_system" href="../guidelines/getting_started/persona_health_system.html" target="iframe">Health System Persona</a></li>
            </ul>
          </li>
        </ul>
      </li>
      <li class="root_">
        <a id="brand-guidelines" class="link_" href="#">Brand</a>
        <ul class="submenu">
          <li><a class="brand_guidelines" href="../guidelines/brand/overview.html" target="iframe">Overview</a></li>
          <li><a class="logo" href="../guidelines/brand/logo.html" target="iframe">Logo</a></li>
          <li><a class="colors" href="../guidelines/brand/colors.html" target="iframe">Colors</a></li>
          <li><a class="typography" href="../guidelines/brand/typography.html" target="iframe">Typography</a></li>
          <li><a class="illustrations" href="../guidelines/brand/illustrations.html" target="iframe">Illustrations</a></li>
          <li><a class="photography" href="../guidelines/brand/photography.html" target="iframe">Photography</a></li>
          <li><a class="brand_resources" href="../guidelines/brand/brand_resources.html" target="iframe">Brand Resources</a></li>
        </ul>
      </li>
      <li class="root_">
        <a id="web-guidelines" class="link_" href="#">Web</a>
        <ul class="submenu">
          <li><a class="web_overview" href="../guidelines/web/overview.html" target="iframe">Overview</a></li>
          <li><a class="more" href="#">CSS</a>
            <ul class="third">
              <li><a class="buttons" href="../guidelines/web/buttons.html" target="iframe">Buttons</a></li>
              <li><a class="text" href="../guidelines/web/text.html" target="iframe">Text</a></li>
              <li><a class="forms" href="../guidelines/web/forms.html" target="iframe">Forms</a></li>
              <li><a class="tables" href="../guidelines/web/tables.html" target="iframe">Tables</a></li>
              <li><a class="grid_layout" href="../guidelines/web/grid_layout.html" target="iframe">Grid Layouts</a></li>
            </ul>
          </li>

          <li><a class="more" href="#">Components</a>
            <ul class="third">
              <li><a class="alerts" href="../guidelines/web/alerts.html" target="iframe">Alerts &amp; Notifications</a></li>
              <li><a class="header_components" href="../guidelines/web/header.html" target="iframe">Header</a></li>
              <li><a class="breadcrumbs_component" href="../guidelines/web/breadcrumbs.html" target="iframe">Breadcrumbs</a></li>
              <li><a class="avatar" href="../guidelines/web/avatar.html" target="iframe">Avatar</a></li>
              <li><a class="list_group" href="../guidelines/web/list_group.html" target="iframe">List Group</a></li>
              <li><a class="dropdowns" href="../guidelines/web/dropdowns.html" target="iframe">Dropdowns</a></li>
              <li><a class="navs" href="../guidelines/web/navs.html" target="iframe">Navs</a></li>
              <li><a class="pagination_component" href="../guidelines/web/pagination.html" target="iframe">Pagination</a></li>
              <li><a class="labels" href="../guidelines/web/labels.html" target="iframe">Labels</a></li>
              <li><a class="badges" href="../guidelines/web/badges.html" target="iframe">Badges</a></li>
              
              <li><a class="progress_bars" href="../guidelines/web/progress_bars.html" target="iframe">Progress bars</a></li>
              <li><a class="panels" href="../guidelines/web/panels.html" target="iframe">Panels</a></li>
              <li><a class="responsive_embed" href="../guidelines/web/responsive_embed.html" target="iframe">Responsive Embed</a></li>
              <li><a class="wells" href="../guidelines/web/wells.html" target="iframe">Wells</a></li>
            </ul>
          </li>

          <li><a class="pages" href="../guidelines/web/pages.html" target="iframe">Pages</a></li>
        </ul>
      </li>
      <li class="root_">
        <a id="ios-guidelines" class="link_" href="#">iOS</a>
        <ul class="submenu">
          <li><a class="ios_overview" href="../guidelines/ios/overview.html" target="iframe">Overview</a></li>
          <li><a class="more" href="#">Components</a>
            <ul class="third">
              <li><a class="ios-bottom_navigation" href="../guidelines/ios/bottom_navigation.html" target="iframe">Bottom Navigation</a></li>
              <li><a class="ios-buttons" href="../guidelines/ios/buttons.html" target="iframe">Buttons</a></li>
              <li><a class="ios-cards" href="../guidelines/ios/cards.html" target="iframe">Cards</a></li>
              <li><a class="ios-dialogs" href="../guidelines/ios/dialogs.html" target="iframe">Diaglogs</a></li>
              <li><a class="ios-dividers" href="../guidelines/ios/dividers.html" target="iframe">Dividers</a></li>
              <li><a class="ios-expansion_panels" href="../guidelines/ios/expansion_panels.html" target="iframe">Expansion Panels</a></li>
              <li><a class="ios-grid" href="../guidelines/ios/grid.html" target="iframe">Grid</a></li>
              <li><a class="ios-list" href="../guidelines/ios/list.html" target="iframe">List</a></li>
              <li><a class="ios-menus" href="../guidelines/ios/menus.html" target="iframe">Menus</a></li>
              <li><a class="ios-pickers" href="../guidelines/ios/pickers.html" target="iframe">Pickers</a></li>
              <li><a class="ios-progress" href="../guidelines/ios/progress.html" target="iframe">Progress &amp; Activity</a></li>
              <li><a class="ios-selection_controls" href="../guidelines/ios/selection_controls.html" target="iframe">Selection Controls</a></li>
              <li><a class="ios-sliders" href="../guidelines/ios/sliders.html" target="iframe">Sliders</a></li>
              <li><a class="ios-subheaders" href="../guidelines/ios/subheaders.html" target="iframe">Subheaders</a></li>
              <li><a class="ios-tabs" href="../guidelines/ios/tabs.html" target="iframe">Tabs</a></li>
              <li><a class="ios-text_fields" href="../guidelines/ios/text_fields.html" target="iframe">Text Fields</a></li>
              <li><a class="ios-toolbars" href="../guidelines/ios/toolbars.html" target="iframe">Toolbars</a></li>
              <li><a class="ios-tooltips" href="../guidelines/ios/tooltips.html" target="iframe">Tooltips</a></li>
            </ul>
          </li>
          <li><a class="ios-screens" href="../guidelines/ios/screens.html" target="iframe">Screens</a></li>
        </ul>
      </li>
      <li class="root_">
        <a id="android-guidelines" class="link_" href="#">Android</a>
        <ul class="submenu">
          <li><a class="android_overview" href="../guidelines/android/overview.html" target="iframe">Overview</a></li>
          <li><a class="more" href="#">Components</a>
            <ul class="third">
              <li><a class="android-bottom_navigation" href="../guidelines/android/bottom_navigation.html" target="iframe">Bottom Navigation</a></li>
              <li><a class="android-buttons" href="../guidelines/android/buttons.html" target="iframe">Buttons</a></li>
              <li><a class="android-cards" href="../guidelines/android/cards.html" target="iframe">Cards</a></li>
              <li><a class="android-dialogs" href="../guidelines/android/dialogs.html" target="iframe">Diaglogs</a></li>
              <li><a class="android-dividers" href="../guidelines/android/dividers.html" target="iframe">Dividers</a></li>
              <li><a class="android-expansion_panels" href="../guidelines/android/expansion_panels.html" target="iframe">Expansion Panels</a></li>
              <li><a class="android-grid" href="../guidelines/android/grid.html" target="iframe">Grid</a></li>
              <li><a class="android-list" href="../guidelines/android/list.html" target="iframe">List</a></li>
              <li><a class="android-menus" href="../guidelines/android/menus.html" target="iframe">Menus</a></li>
              <li><a class="android-pickers" href="../guidelines/android/pickers.html" target="iframe">Pickers</a></li>
              <li><a class="android-progress" href="../guidelines/android/progress.html" target="iframe">Progress &amp; Activity</a></li>
              <li><a class="android-selection_controls" href="../guidelines/android/selection_controls.html" target="iframe">Selection Controls</a></li>
              <li><a class="android-sliders" href="../guidelines/android/sliders.html" target="iframe">Sliders</a></li>
              <li><a class="android-subheaders" href="../guidelines/android/subheaders.html" target="iframe">Subheaders</a></li>
              <li><a class="android-tabs" href="../guidelines/android/tabs.html" target="iframe">Tabs</a></li>
              <li><a class="android-text_fields" href="../guidelines/android/text_fields.html" target="iframe">Text Fields</a></li>
              <li><a class="android-toolbars" href="../guidelines/android/toolbars.html" target="iframe">Toolbars</a></li>
              <li><a class="android-tooltips" href="../guidelines/android/tooltips.html" target="iframe">Tooltips</a></li>
            </ul>
          </li>
          <li><a class="android-screens" href="../guidelines/android/screens.html" target="iframe">Screens</a></li>
        </ul>
      </li>
      <li class="root_">
        <a id="icons" class="link_" href="#">Icons</a>
        <ul class="submenu">
          <li><a class="icons_overview" href="../guidelines/icons/overview.html" target="iframe">Overview</a></li>
          <li><a class="icons-dashboard" href="../guidelines/icons/dashboard.html" target="iframe">Dashboard</a></li>
          <li><a class="icons-health" href="../guidelines/icons/health.html" target="iframe">Health</a></li>
          <li><a class="icons-glyphs" href="../guidelines/icons/glyphs.html" target="iframe">Glyphs</a></li>
        </ul>
      </li>
    </ul>
  </div>
</div>