<div class="iframe_content">
  <h2>Color Palette</h2>
  <p>PointClear has three primary brand colors—midnight
blue, clear blue and cerise red—
which make up
roughly 80 percent of its visual identity. They have
been carefully chosen to represent PointClear’s key
characteristics: knowledge, healthcare focus and
passion for innovation.</p>
<p class="pad-bottom-20">While blues convey stability and trust, the unique
tones in combination with cerise red creates a fresh
and energetic visual display. The cerise red adds a
daring confidence that makes the brand memorable.</p>

<h2>Primary Colors</h2>
  <div class="clear row pad-top-20 pad-bottom-20">
    <div class="col-1-1 col-1-3-l pad-top-10 pad-bottom-10">
      <div class="panel-block color_example_block">
        <div class="color_example bg_midnight_blue"></div>
        <div class="pad-10">
          <code><span>HEX</span>#3B5383</code>
          <code><span>CMYK</span>100, 52, 0, 37</code>
          <code><span>RGB</span>58, 83, 130</code>
          <code><span>Pantone</span>2140u</code>
        </div>
      </div>
    </div>

    <div class="col-1-1 col-1-3-l pad-top-10 pad-bottom-10">
      <div class="panel-block color_example_block">
        <div class="color_example bg_clear_blue"></div>
        <div class="pad-10">
          <code><span>HEX</span>#04A9C7</code>
          <code><span>CMYK</span>81, 3, 15, 0D</code>
          <code><span>RGB</span>4, 169, 199</code>
          <code><span>Pantone</span>2200u</code>
        </div>
      </div>
    </div>

    <div class="col-1-1 col-1-3-l pad-top-10 pad-bottom-10">
      <div class="panel-block color_example_block">
        <div class="color_example bg_cerise_red"></div>
        <div class="pad-10">
          <code><span>HEX</span>#DF4661</code>
          <code><span>CMYK</span>0, 96, 80, 0</code>
          <code><span>RGB</span>223, 70, 97</code>
          <code><span>Pantone</span>199 u</code>
        </div>
      </div>
    </div>
  </div>

  <div class="clear row pad-top-20 pad-bottom-20">
    <p class="col-1-3-m">Please make sure all print files are set
to CMYK or Spot Colors. The RGB and
Web colors are reserved for online
use only.</p>
  <p class="col-1-3-m">
  Note that colors vary when printed
  on various paper stocks.
  Color variation is also unavoidable
  on different computer monitors.</p>
  <p class="col-1-3-m">
  We recommend always requesting
  a print proof to ensure colors are
  consistent.</p>
  </div>
</div>

<hr class="separator_section">

<div class="iframe_content">
  <h2>Secondary Colors</h2>
  <div class="clear row pad-bottom-20">
    <div class="col-1-2 col-1-3-m pad-top-10 pad-bottom-10">
      <div class="panel-block color_example_block">
        <div class="color_example bg_charcoal">
          <div class="foreground_example bg_charcoal"></div>
        </div>
        <div class="pad-10">
          <code><span>HEX</span>#1B242A</code>
          <code><span>CMYK</span>0, 0, 0, 90</code>
          <code><span>RGB</span>58, 58, 58</code>
          <code><span>Pantone</span>419u</code>
        </div>
      </div>
    </div>

    <div class="col-1-2 col-1-3-m pad-top-10 pad-bottom-10">
      <div class="panel-block color_example_block">
        <div class="color_example bg_gray">
          <div class="foreground_example bg_gray"></div>
        </div>
        <div class="pad-10">
          <code><span>HEX</span>#7F8084</code>
          <code><span>CMYK</span>0, 0, 0, 61</code>
          <code><span>RGB</span>126, 128, 131</code>
          <code><span>Pantone</span>424u</code>
        </div>
      </div>
    </div>

    <div class="col-1-2 col-1-3-m pad-top-10 pad-bottom-10">
      <div class="panel-block color_example_block">
        <div class="color_example bg_magnesium">
          <div class="foreground_example bg_magnesium"></div>
        </div>
        <div class="pad-10">
          <code><span>HEX</span>#BEBFC1</code>
          <code><span>CMYK</span>0, 0, 0, 61, 50%</code>
          <code><span>RGB</span>126, 128, 131, 50% </code>
          <code><span>Pantone</span>424u 50%</code>
        </div>
      </div>
    </div>

  </div>
        <p>The secondary colors have been
chosen to complement and support
the primary colors. They should be
used minimally and only when the
primary colors alone are not enough
to eff ectively communicate a
message or action item.</p>

      </div>