<div class="iframe_content midnight_blue">
  <h2 class="GothamB capitalize"> Gotham Bold </h2>
  <div class="type-sample-wrapper clear row">
    <div class="col-2-l col-12">
      <span class="fs-1 block GothamB type_lead">
        Aa
      </span>
    </div>

    <div class="col-10-l col-12">
      <p class="fs-2 GothamB spacing-6 lineheight-6">
        <span class="type-sample">ABCDEFGHIJKLMNOPQRSTUVWXYZ</span>
        <span class="type-sample">abcdefghijklmnopqrstuvwxyz</span>
        <span class="type-sample">1234567890(,.;:?!$&amp;*)</span>
      </p>
    </div>
  </div>
</div>

<div class="iframe_content midnight_blue">
  <h2 class="GothamL capitalize"> Gotham Light </h2>
  <div class="type-sample-wrapper clear row">
    <div class="col-2-l col-12">
      <span class="fs-1 block GothamL type_lead">
        Aa
      </span>
    </div>

    <div class="col-10-l col-12">
      <p class="fs-2 GothamL spacing-6 lineheight-6">
        <span class="type-sample">ABCDEFGHIJKLMNOPQRSTUVWXYZ</span>
        <span class="type-sample">abcdefghijklmnopqrstuvwxyz</span>
        <span class="type-sample">1234567890(,.;:?!$&amp;*)</span>
      </p>
    </div>
  </div>
</div>

<div class="iframe_content midnight_blue">
  <h2 class="Chronicle capitalize"> Chronicle </h2>
  <div class="type-sample-wrapper clear row">
    <div class="col-2-l col-12">
      <span class="fs-1 block Chronicle type_lead">
        Aa
      </span>
    </div>

    <div class="col-10-l col-12">
      <p class="fs-2 Chronicle spacing-6 lineheight-6">
        <span class="type-sample">ABCDEFGHIJKLMNOPQRSTUVWXYZ</span>
        <span class="type-sample">abcdefghijklmnopqrstuvwxyz</span>
        <span class="type-sample">1234567890(,.;:?!$&amp;*)</span>
      </p>
    </div>
  </div>
</div>

<div class="iframe_content midnight_blue">
  <h2 class="openSans_light capitalize"> Open Sans </h2>
  <div class="type-sample-wrapper clear row">
    <div class="col-2-l col-12">
      <span class="fs-1 block openSans_light type_lead">
        Aa
      </span>
    </div>

    <div class="col-10-l col-12">
      <p class="fs-2 openSans_light spacing-6 lineheight-6">
        <span class="type-sample">ABCDEFGHIJKLMNOPQRSTUVWXYZ</span>
        <span class="type-sample">abcdefghijklmnopqrstuvwxyz</span>
        <span class="type-sample">1234567890(,.;:?!$&amp;*)</span>
      </p>
    </div>
  </div>
</div>