<div class="bs-docs-section">
  <h1 id="breadcrumbs" class="page-header">Breadcrumbs</h1>
  <h2>Basic Example</h2>
  <div class="bs-example" data-example-id="simple-breadcrumbs">
    <ol class="breadcrumb">
      <li class="active">Choose Provider</li>
    </ol>
    <ol class="breadcrumb">
      <li><a href="#">Choose Provider</a></li>
      <li class="active">Reason for Visit</li>
    </ol>
    <ol class="breadcrumb">
      <li><a href="#">Home</a></li>
      <li><a href="#">Reason for Visit</a></li>
      <li class="active">Choose Pharmacy</li>
    </ol>
  </div>
{% highlight html %}
<ol class="breadcrumb">
  <li><a href="#">Choose Provider</a></li>
  <li><a href="#">Reason for Visit</a></li>
  <li class="active">Choose Pharmacy</li>
</ol>
{% endhighlight %}
</div>
