    <div class="grid-example">
      <div class="row clear pad-top-5 pad-bottom-5">
        <div class="col-6 col-3-m col-8-l col-2-xl">
          <div class="column-content">
            <span class="none-m">col 6</span>
            <span class="none block-m none-l">col 3</span>
            <span class="none block-l none-xl">col 8</span>
            <span class="none block-xl">col 2</span>
          </div>
        </div>
        <div class="col-6 col-9-m col-4-l col-10-xl">
          <div class="column-content">
            <span class="none-m">col 6</span>
            <span class="none block-m none-l">col 9</span>
            <span class="none block-l none-xl">col 4</span>
            <span class="none block-xl">col 10</span>
          </div>
        </div>
      </div>
    </div>

<div class="clear pad-10"></div>

{% highlight html %}
<div class="row clear pad-top-5 pad-bottom-5">
  <div class="col-6 col-3-m col-8-l col-2-xl">
    content...
  </div>
  <div class="col-6 col-9-m col-4-l col-10-xl">
    content...
  </div>
</div>
{% endhighlight %}