<div class="grid_example">
    

    <hr class="spacer">

    <div class="iframe_content">
        
    </div>
    


    <hr class="separator_section">

    <h3>Mobile-First Grid Example</h3>
    

    <hr class="separator_section">
  
    

    <hr class="separator_section">

    

    
    
    

    <hr class="separator_section">

    <h2>Grid helpers</h2>
    <p>
      In addition to the grid, there are extra helpers which can easily show / hide content and modify display types for specific devices.
    </p>
    
    <div class="pad-bottom-30">
      <ul id="display-types" class="data-list">
        <li class="pad-top-5 pad-bottom-5">
          <div class="clear row-m">
            <div class="col-3-m">
              <code>.none</code>
            </div>
            <div class="col-9-m">
              Hides element for small devices (mobile) and up
            </div>
          </div>
        </li>
        <li class="pad-top-5 pad-bottom-5">
          <div class="clear row-m">
            <div class="col-3-m">
              <code>.block</code>
            </div>
            <div class="col-9-m">
              Sets element to block for small devices (mobile) and up
            </div>
          </div>
        </li>
        <li class="pad-top-5 pad-bottom-5">
          <div class="clear row-m">
            <div class="col-3-m">
              <code>.inline-block</code>
            </div>
            <div class="col-9-m">
              Sets element to inline-block for small devices (mobile) and up
            </div>
          </div>
        </li>
        <li class="pad-top-5 pad-bottom-5">
          <div class="clear row-m">
            <div class="col-3-m">
              <code>.inline</code>
            </div>
            <div class="col-9-m">
              Sets element to inline for small devices (mobile) and up
            </div>
          </div>
        </li>
        <li class="pad-top-5 pad-bottom-5">
          <div class="clear row-m">
            <div class="col-3-m">
              <code>.none-m</code>
            </div>
            <div class="col-9-m">
              Hides element for medium devices (tablet) and up
            </div>
          </div>
        </li>
        <li class="pad-top-5 pad-bottom-5">
          <div class="clear row-m">
            <div class="col-3-m">
              <code>.block-m</code>
            </div>
            <div class="col-9-m">
              Sets element to block for medium devices (tablet) and up
            </div>
          </div>
        </li>
        <li class="pad-top-5 pad-bottom-5">
          <div class="clear row-m">
            <div class="col-3-m">
              <code>.inline-block-m</code>
            </div>
            <div class="col-9-m">
              Sets element to inline-block for medium devices (tablet) and up
            </div>
          </div>
        </li>
        <li class="pad-top-5 pad-bottom-5">
          <div class="clear row-m">
            <div class="col-3-m">
              <code>.inline-m</code>
            </div>
            <div class="col-9-m">
              Sets element to inline for medium devices (tablet) and up
            </div>
          </div>
        </li>
        <li class="pad-top-5 pad-bottom-5">
          <div class="clear row-m">
            <div class="col-3-m">
              <code>.none-l</code>
            </div>
            <div class="col-9-m">
              Hides element for large devices (desktop) and up
            </div>
          </div>
        </li>
        <li class="pad-top-5 pad-bottom-5">
          <div class="clear row-m">
            <div class="col-3-m">
              <code>.block-l</code>
            </div>
            <div class="col-9-m">
              Sets element to block for large devices (desktop) and up
            </div>
          </div>
        </li>
        <li class="pad-top-5 pad-bottom-5">
          <div class="clear row-m">
            <div class="col-3-m">
              <code>.inline-block-l</code>
            </div>
            <div class="col-9-m">
              Sets element to inline-block for large devices (desktop) and up
            </div>
          </div>
        </li>
        <li class="pad-top-5 pad-bottom-5">
          <div class="clear row-m">
            <div class="col-3-m">
              <code>.inline-l</code>
            </div>
            <div class="col-9-m">
              Sets element to inline for large devices (desktop) and up
            </div>
          </div>
        </li>
        <li class="pad-top-5 pad-bottom-5">
          <div class="clear row-m">
            <div class="col-3-m">
              <code>.none-xl</code>
            </div>
            <div class="col-9-m">
              Hides element for extra large devices (HD) and up
            </div>
          </div>
        </li>
        <li class="pad-top-5 pad-bottom-5">
          <div class="clear row-m">
            <div class="col-3-m">
              <code>.block-xl</code>
            </div>
            <div class="col-9-m">
              Sets element to block for extra large devices (HD) and up
            </div>
          </div>
        </li>
        <li class="pad-top-5 pad-bottom-5">
          <div class="clear row-m">
            <div class="col-3-m">
              <code>.inline-block-xl</code>
            </div>
            <div class="col-9-m">
              Sets element to inline-block for extra large devices (HD) and up
            </div>
          </div>
        </li>
        <li class="pad-top-5 pad-bottom-5">
          <div class="clear row-m">
            <div class="col-3-m">
              <code>.inline-xl</code>
            </div>
            <div class="col-9-m">
              Sets element to inline for extra large devices (HD) and up
            </div>
          </div>
        </li>
      </ul>
    </div>

    <h2 id="sub-pixel-issue">Sub-Pixel Issue</h2>
    <p>
      To get around the <a target="_blank" rel="nofollow" href="http://ejohn.org/blog/sub-pixel-problems-in-css/">sub-pixel problem</a>, make sure to add a class of <code>.right</code>
      to the last column of a <code>.clear</code>.
    </p>
    <p>
      Example:
<pre class="prettyprint lang-html">
&lt;div class="clear"&gt;
  &lt;div class="col-8"&gt;col-8&lt;/div&gt;
  &lt;div class="col-4 <strong>right</strong>"&gt;col-4 right&lt;/div&gt;
&lt;/div&gt;    
</pre>
    </p>

    <hr class="separator_section">
  


</div>

