<div class="grid-example">
      <div class="row clear pad-top-5 pad-bottom-5">
        <div class="col-1">
          <span class="column-content">col-1</span>
        </div>
        <div class="col-11">
          <span class="column-content">col-11</span>
        </div>
      </div>
      <div class="row clear pad-top-5 pad-bottom-5">
        <div class="col-2">
          <span class="column-content">col-2</span>
        </div>
        <div class="col-10">
          <span class="column-content">col-10</span>
        </div>
      </div>
      <div class="row clear pad-top-5 pad-bottom-5">
        <div class="col-3">
          <span class="column-content">col-3</span>
        </div>
        <div class="col-9">
          <span class="column-content">col-9</span>
        </div>
      </div>
      <div class="row clear pad-top-5 pad-bottom-5">
        <div class="col-4">
          <span class="column-content">col-4</span>
        </div>
        <div class="col-8">
          <span class="column-content">col-8</span>
        </div>
      </div>
      <div class="row clear pad-top-5 pad-bottom-5">
        <div class="col-5">
          <span class="column-content">col-5</span>
        </div>
        <div class="col-7">
          <span class="column-content">col-7</span>
        </div>
      </div>
      <div class="row clear pad-top-5 pad-bottom-5">
        <div class="col-6">
          <span class="column-content">col-6</span>
        </div>
        <div class="col-6">
          <span class="column-content">col-6</span>
        </div>
      </div>
      <div class="row clear pad-top-5 pad-bottom-5">
        <div class="col-12">
          <span class="column-content">col-12</span>
        </div>
      </div>
    </div>
<div class="clear pad-10"></div>    
{% highlight html %}
<div class="row clear pad-top-5 pad-bottom-5">
  <div class="col-1">col-1</div>
  <div class="col-11">col-11</div>
</div>
<div class="row clear pad-top-5 pad-bottom-5">
  <div class="col-2">col-2</div>
  <div class="col-10">col-10</div>
</div>
<div class="row clear pad-top-5 pad-bottom-5">
  <div class="col-3">col-3</div>
  <div class="col-9">col-9</div>
</div>
<div class="row clear pad-top-5 pad-bottom-5">
  <div class="col-4">col-4</div>
  <div class="col-8">col-8</div>
</div>
<div class="row clear pad-top-5 pad-bottom-5">
  <div class="col-5">col-5</div>
  <div class="col-7">col-7</div>
</div>
<div class="row clear pad-top-5 pad-bottom-5">
  <div class="col-6">col-6</div>
  <div class="col-6">col-6</div>
</div>
<div class="row clear pad-top-5 pad-bottom-5">
  <div class="col-12">col-12</div>
</div>
{% endhighlight %}