
<ul id="grid-push-pull-offsets" class="data-list">
  <li class="pad-top-5 pad-bottom-5">
    <div class="clear row-m">
      <div class="col-3-m">
        <code>.push-1</code>
      </div>
      <div class="col-9-m">
        Applies a left offset of 8.33333% for small devices (mobile) and up
      </div>
    </div>
  </li>
  <li class="pad-top-5 pad-bottom-5">
    <div class="clear row-m">
      <div class="col-3-m">
        <code>.pull-1</code>
      </div>
      <div class="col-9-m">
        Applies a right offset of 8.33333% for small devices (mobile) and up
      </div>
    </div>
  </li>
  <li class="pad-top-5 pad-bottom-5">
    <div class="clear row-m">
      <div class="col-3-m">
        <code>.push-2</code>
      </div>
      <div class="col-9-m">
        Applies a left offset of 16.66667% to small devices (mobile) and up
      </div>
    </div>
  </li>
  <li class="pad-top-5 pad-bottom-5">
    <div class="clear row-m">
      <div class="col-3-m">
        <code>.pull-2</code>
      </div>
      <div class="col-9-m">
        Applies a right offset of 16.66667% to small devices (mobile) and up
      </div>
    </div>
  </li>
  <li class="pad-top-5 pad-bottom-5">
    <div class="clear row-m">
      <div class="col-3-m">
        <code>.push-3</code>
      </div>
      <div class="col-9-m">
        Applies a left offset of 25% to small devices (mobile) and up
      </div>
    </div>
  </li>
  <li class="pad-top-5 pad-bottom-5">
    <div class="clear row-m">
      <div class="col-3-m">
        <code>.pull-3</code>
      </div>
      <div class="col-9-m">
        Applies a right offset of 25% to small devices (mobile) and up
      </div>
    </div>
  </li>
  <li class="pad-top-5 pad-bottom-5">
    <div class="clear row-m">
      <div class="col-3-m">
        <code>.push-4</code>
      </div>
      <div class="col-9-m">
        Applies a left offset of 33.33333% to small devices (mobile) and up
      </div>
    </div>
  </li>
  <li class="pad-top-5 pad-bottom-5">
    <div class="clear row-m">
      <div class="col-3-m">
        <code>.pull-4</code>
      </div>
      <div class="col-9-m">
        Applies a right offset of 33.33333% to small devices (mobile) and up
      </div>
    </div>
  </li>
  <li class="pad-top-5 pad-bottom-5">
    <div class="clear row-m">
      <div class="col-3-m">
        <code>.push-5</code>
      </div>
      <div class="col-9-m">
        Applies a left offset of 41.66667% to small devices (mobile) and up
      </div>
    </div>
  </li>
  <li class="pad-top-5 pad-bottom-5">
    <div class="clear row-m">
      <div class="col-3-m">
        <code>.pull-5</code>
      </div>
      <div class="col-9-m">
        Applies a right offset of 41.66667% to small devices (mobile) and up
      </div>
    </div>
  </li>
  <li class="pad-top-5 pad-bottom-5">
    <div class="clear row-m">
      <div class="col-3-m">
        <code>.push-6</code>
      </div>
      <div class="col-9-m">
        Applies a left offset of 50% to small devices (mobile) and up
      </div>
    </div>
  </li>
  <li class="pad-top-5 pad-bottom-5">
    <div class="clear row-m">
      <div class="col-3-m">
        <code>.pull-6</code>
      </div>
      <div class="col-9-m">
        Applies a right offset of 50% to small devices (mobile) and up
      </div>
    </div>
  </li>
  <li class="pad-top-5 pad-bottom-5">
    <div class="clear row-m">
      <div class="col-3-m">
        <code>.push-7</code>
      </div>
      <div class="col-9-m">
        Applies a left offset of 58.33333% to small devices (mobile) and up
      </div>
    </div>
  </li>
  <li class="pad-top-5 pad-bottom-5">
    <div class="clear row-m">
      <div class="col-3-m">
        <code>.pull-7</code>
      </div>
      <div class="col-9-m">
        Applies a right offset of 58.33333% to small devices (mobile) and up
      </div>
    </div>
  </li>
  <li class="pad-top-5 pad-bottom-5">
    <div class="clear row-m">
      <div class="col-3-m">
        <code>.push-8</code>
      </div>
      <div class="col-9-m">
        Applies a left offset of 66.66667% to small devices (mobile) and up
      </div>
    </div>
  </li>
  <li class="pad-top-5 pad-bottom-5">
    <div class="clear row-m">
      <div class="col-3-m">
        <code>.pull-8</code>
      </div>
      <div class="col-9-m">
        Applies a right offset of 66.66667% to small devices (mobile) and up
      </div>
    </div>
  </li>
  <li class="pad-top-5 pad-bottom-5">
    <div class="clear row-m">
      <div class="col-3-m">
        <code>.push-9</code>
      </div>
      <div class="col-9-m">
        Applies a left offset of 75% to small devices (mobile) and up
      </div>
    </div>
  </li>
  <li class="pad-top-5 pad-bottom-5">
    <div class="clear row-m">
      <div class="col-3-m">
        <code>.pull-9</code>
      </div>
      <div class="col-9-m">
        Applies a right offset of 75% to small devices (mobile) and up
      </div>
    </div>
  </li>
  <li class="pad-top-5 pad-bottom-5">
    <div class="clear row-m">
      <div class="col-3-m">
        <code>.push-10</code>
      </div>
      <div class="col-9-m">
        Applies a left offset of 83.33333% to small devices (mobile) and up
      </div>
    </div>
  </li>
  <li class="pad-top-5 pad-bottom-5">
    <div class="clear row-m">
      <div class="col-3-m">
        <code>.pull-10</code>
      </div>
      <div class="col-9-m">
        Applies a right offset of 83.33333% to small devices (mobile) and up
      </div>
    </div>
  </li>
  <li class="pad-top-5 pad-bottom-5">
    <div class="clear row-m">
      <div class="col-3-m">
        <code>.push-11</code>
      </div>
      <div class="col-9-m">
        Applies a left offset of 91.66667% to small devices (mobile) and up
      </div>
    </div>
  </li>
  <li class="pad-top-5 pad-bottom-5">
    <div class="clear row-m">
      <div class="col-3-m">
        <code>.pull-11</code>
      </div>
      <div class="col-9-m">
        Applies a right offset of 91.66667% to small devices (mobile) and up
      </div>
    </div>
  </li>
  <li class="pad-top-5 pad-bottom-5">
    <div class="clear row-m">
      <div class="col-3-m">
        <code>.push-1-2</code>
      </div>
      <div class="col-9-m">
        Applies a left offset of 50% to small devices (mobile) and up
      </div>
    </div>
  </li>
  <li class="pad-top-5 pad-bottom-5">
    <div class="clear row-m">
      <div class="col-3-m">
        <code>.pull-1-2</code>
      </div>
      <div class="col-9-m">
        Applies a right offset of 50% to small devices (mobile) and up
      </div>
    </div>
  </li>
  <li class="pad-top-5 pad-bottom-5">
    <div class="clear row-m">
      <div class="col-3-m">
        <code>.push-1-3</code>
      </div>
      <div class="col-9-m">
        Applies a left offset of 33.33333% to small devices (mobile) and up
      </div>
    </div>
  </li>
  <li class="pad-top-5 pad-bottom-5">
    <div class="clear row-m">
      <div class="col-3-m">
        <code>.pull-1-3</code>
      </div>
      <div class="col-9-m">
        Applies a right offset of 33.33333% to small devices (mobile) and up
      </div>
    </div>
  </li>
  <li class="pad-top-5 pad-bottom-5">
    <div class="clear row-m">
      <div class="col-3-m">
        <code>.push-2-3</code>
      </div>
      <div class="col-9-m">
        Applies a left offset of 66.66667% to small devices (mobile) and up
      </div>
    </div>
  </li>
  <li class="pad-top-5 pad-bottom-5">
    <div class="clear row-m">
      <div class="col-3-m">
        <code>.pull-2-3</code>
      </div>
      <div class="col-9-m">
        Applies a right offset of 66.66667% to small devices (mobile) and up
      </div>
    </div>
  </li>
  <li class="pad-top-5 pad-bottom-5">
    <div class="clear row-m">
      <div class="col-3-m">
        <code>.push-1-4</code>
      </div>
      <div class="col-9-m">
        Applies a left offset of 25% to small devices (mobile) and up
      </div>
    </div>
  </li>
  <li class="pad-top-5 pad-bottom-5">
    <div class="clear row-m">
      <div class="col-3-m">
        <code>.pull-1-4</code>
      </div>
      <div class="col-9-m">
        Applies a right offset of 25% to small devices (mobile) and up
      </div>
    </div>
  </li>
  <li class="pad-top-5 pad-bottom-5">
    <div class="clear row-m">
      <div class="col-3-m">
        <code>.push-3-4</code>
      </div>
      <div class="col-9-m">
        Applies a left offset of width: 75% to small devices (mobile) and up
      </div>
    </div>
  </li>
  <li class="pad-top-5 pad-bottom-5">
    <div class="clear row-m">
      <div class="col-3-m">
        <code>.pull-3-4</code>
      </div>
      <div class="col-9-m">
        Applies a right offset of width: 75% to small devices (mobile) and up
      </div>
    </div>
  </li>
  <li class="pad-top-5 pad-bottom-5">
    <div class="clear row-m">
      <div class="col-3-m">
        <code>.push-1-5</code>
      </div>
      <div class="col-9-m">
        Applies a left offset of 20% to small devices (mobile) and up
      </div>
    </div>
  </li>
  <li class="pad-top-5 pad-bottom-5">
    <div class="clear row-m">
      <div class="col-3-m">
        <code>.pull-1-5</code>
      </div>
      <div class="col-9-m">
        Applies a right offset of 20% to small devices (mobile) and up
      </div>
    </div>
  </li>
  <li class="pad-top-5 pad-bottom-5">
    <div class="clear row-m">
      <div class="col-3-m">
        <code>.push-2-5</code>
      </div>
      <div class="col-9-m">
        Applies a left offset of 40% to small devices (mobile) and up
      </div>
    </div>
  </li>
  <li class="pad-top-5 pad-bottom-5">
    <div class="clear row-m">
      <div class="col-3-m">
        <code>.pull-2-5</code>
      </div>
      <div class="col-9-m">
        Applies a right offset of 40% to small devices (mobile) and up
      </div>
    </div>
  </li>
  <li class="pad-top-5 pad-bottom-5">
    <div class="clear row-m">
      <div class="col-3-m">
        <code>.push-3-5</code>
      </div>
      <div class="col-9-m">
        Applies a left offset of 60% to small devices (mobile) and up
      </div>
    </div>
  </li>
  <li class="pad-top-5 pad-bottom-5">
    <div class="clear row-m">
      <div class="col-3-m">
        <code>.pull-3-5</code>
      </div>
      <div class="col-9-m">
        Applies a right offset of 60% to small devices (mobile) and up
      </div>
    </div>
  </li>
  <li class="pad-top-5 pad-bottom-5">
    <div class="clear row-m">
      <div class="col-3-m">
        <code>.push-4-5</code>
      </div>
      <div class="col-9-m">
        Applies a left offset of 80% to small devices (mobile) and up
      </div>
    </div>
  </li>
  <li class="pad-top-5 pad-bottom-5">
    <div class="clear row-m">
      <div class="col-3-m">
        <code>.pull-4-5</code>
      </div>
      <div class="col-9-m">
        Applies a right offset of 80% to small devices (mobile) and up
      </div>
    </div>
  </li>
  <li class="pad-top-5 pad-bottom-5">
    <div class="clear row-m">
      <div class="col-3-m">
        <code>.push-1-m</code>
      </div>
      <div class="col-9-m">
        Applies a left offset of 8.33333% for medium devices (tablet) and up
      </div>
    </div>
  </li>
  <li class="pad-top-5 pad-bottom-5">
    <div class="clear row-m">
      <div class="col-3-m">
        <code>.pull-1-m</code>
      </div>
      <div class="col-9-m">
        Applies a right offset of 8.33333% for medium devices (tablet) and up
      </div>
    </div>
  </li>
  <li class="pad-top-5 pad-bottom-5">
    <div class="clear row-m">
      <div class="col-3-m">
        <code>.push-2-m</code>
      </div>
      <div class="col-9-m">
        Applies a left offset of 16.66667% to medium devices (tablet) and up
      </div>
    </div>
  </li>
  <li class="pad-top-5 pad-bottom-5">
    <div class="clear row-m">
      <div class="col-3-m">
        <code>.pull-2-m</code>
      </div>
      <div class="col-9-m">
        Applies a right offset of 16.66667% to medium devices (tablet) and up
      </div>
    </div>
  </li>
  <li class="pad-top-5 pad-bottom-5">
    <div class="clear row-m">
      <div class="col-3-m">
        <code>.push-3-m</code>
      </div>
      <div class="col-9-m">
        Applies a left offset of 25% to medium devices (tablet) and up
      </div>
    </div>
  </li>
  <li class="pad-top-5 pad-bottom-5">
    <div class="clear row-m">
      <div class="col-3-m">
        <code>.pull-3-m</code>
      </div>
      <div class="col-9-m">
        Applies a right offset of 25% to medium devices (tablet) and up
      </div>
    </div>
  </li>
  <li class="pad-top-5 pad-bottom-5">
    <div class="clear row-m">
      <div class="col-3-m">
        <code>.push-4-m</code>
      </div>
      <div class="col-9-m">
        Applies a left offset of 33.33333% to medium devices (tablet) and up
      </div>
    </div>
  </li>
  <li class="pad-top-5 pad-bottom-5">
    <div class="clear row-m">
      <div class="col-3-m">
        <code>.pull-4-m</code>
      </div>
      <div class="col-9-m">
        Applies a right offset of 33.33333% to medium devices (tablet) and up
      </div>
    </div>
  </li>
  <li class="pad-top-5 pad-bottom-5">
    <div class="clear row-m">
      <div class="col-3-m">
        <code>.push-5-m</code>
      </div>
      <div class="col-9-m">
        Applies a left offset of 41.66667% to medium devices (tablet) and up
      </div>
    </div>
  </li>
  <li class="pad-top-5 pad-bottom-5">
    <div class="clear row-m">
      <div class="col-3-m">
        <code>.pull-5-m</code>
      </div>
      <div class="col-9-m">
        Applies a right offset of 41.66667% to medium devices (tablet) and up
      </div>
    </div>
  </li>
  <li class="pad-top-5 pad-bottom-5">
    <div class="clear row-m">
      <div class="col-3-m">
        <code>.push-6-m</code>
      </div>
      <div class="col-9-m">
        Applies a left offset of 50% to medium devices (tablet) and up
      </div>
    </div>
  </li>
  <li class="pad-top-5 pad-bottom-5">
    <div class="clear row-m">
      <div class="col-3-m">
        <code>.pull-6-m</code>
      </div>
      <div class="col-9-m">
        Applies a right offset of 50% to medium devices (tablet) and up
      </div>
    </div>
  </li>
  <li class="pad-top-5 pad-bottom-5">
    <div class="clear row-m">
      <div class="col-3-m">
        <code>.push-7-m</code>
      </div>
      <div class="col-9-m">
        Applies a left offset of 58.33333% to medium devices (tablet) and up
      </div>
    </div>
  </li>
  <li class="pad-top-5 pad-bottom-5">
    <div class="clear row-m">
      <div class="col-3-m">
        <code>.pull-7-m</code>
      </div>
      <div class="col-9-m">
        Applies a right offset of 58.33333% to medium devices (tablet) and up
      </div>
    </div>
  </li>
  <li class="pad-top-5 pad-bottom-5">
    <div class="clear row-m">
      <div class="col-3-m">
        <code>.push-8-m</code>
      </div>
      <div class="col-9-m">
        Applies a left offset of 66.66667% to medium devices (tablet) and up
      </div>
    </div>
  </li>
  <li class="pad-top-5 pad-bottom-5">
    <div class="clear row-m">
      <div class="col-3-m">
        <code>.pull-8-m</code>
      </div>
      <div class="col-9-m">
        Applies a right offset of 66.66667% to medium devices (tablet) and up
      </div>
    </div>
  </li>
  <li class="pad-top-5 pad-bottom-5">
    <div class="clear row-m">
      <div class="col-3-m">
        <code>.push-9-m</code>
      </div>
      <div class="col-9-m">
        Applies a left offset of 75% to medium devices (tablet) and up
      </div>
    </div>
  </li>
  <li class="pad-top-5 pad-bottom-5">
    <div class="clear row-m">
      <div class="col-3-m">
        <code>.pull-9-m</code>
      </div>
      <div class="col-9-m">
        Applies a right offset of 75% to medium devices (tablet) and up
      </div>
    </div>
  </li>
  <li class="pad-top-5 pad-bottom-5">
    <div class="clear row-m">
      <div class="col-3-m">
        <code>.push-10-m</code>
      </div>
      <div class="col-9-m">
        Applies a left offset of 83.33333% to medium devices (tablet) and up
      </div>
    </div>
  </li>
  <li class="pad-top-5 pad-bottom-5">
    <div class="clear row-m">
      <div class="col-3-m">
        <code>.pull-10-m</code>
      </div>
      <div class="col-9-m">
        Applies a right offset of 83.33333% to medium devices (tablet) and up
      </div>
    </div>
  </li>
  <li class="pad-top-5 pad-bottom-5">
    <div class="clear row-m">
      <div class="col-3-m">
        <code>.push-11-m</code>
      </div>
      <div class="col-9-m">
        Applies a left offset of 91.66667% to medium devices (tablet) and up
      </div>
    </div>
  </li>
  <li class="pad-top-5 pad-bottom-5">
    <div class="clear row-m">
      <div class="col-3-m">
        <code>.pull-11-m</code>
      </div>
      <div class="col-9-m">
        Applies a right offset of 91.66667% to medium devices (tablet) and up
      </div>
    </div>
  </li>
  <li class="pad-top-5 pad-bottom-5">
    <div class="clear row-m">
      <div class="col-3-m">
        <code>.push-1-2-m</code>
      </div>
      <div class="col-9-m">
        Applies a left offset of 50% to medium devices (tablet) and up
      </div>
    </div>
  </li>
  <li class="pad-top-5 pad-bottom-5">
    <div class="clear row-m">
      <div class="col-3-m">
        <code>.pull-1-2-m</code>
      </div>
      <div class="col-9-m">
        Applies a right offset of 50% to medium devices (tablet) and up
      </div>
    </div>
  </li>
  <li class="pad-top-5 pad-bottom-5">
    <div class="clear row-m">
      <div class="col-3-m">
        <code>.push-1-3-m</code>
      </div>
      <div class="col-9-m">
        Applies a left offset of 33.33333% to medium devices (tablet) and up
      </div>
    </div>
  </li>
  <li class="pad-top-5 pad-bottom-5">
    <div class="clear row-m">
      <div class="col-3-m">
        <code>.pull-1-3-m</code>
      </div>
      <div class="col-9-m">
        Applies a right offset of 33.33333% to medium devices (tablet) and up
      </div>
    </div>
  </li>
  <li class="pad-top-5 pad-bottom-5">
    <div class="clear row-m">
      <div class="col-3-m">
        <code>.push-2-3-m</code>
      </div>
      <div class="col-9-m">
        Applies a left offset of 66.66667% to medium devices (tablet) and up
      </div>
    </div>
  </li>
  <li class="pad-top-5 pad-bottom-5">
    <div class="clear row-m">
      <div class="col-3-m">
        <code>.pull-2-3-m</code>
      </div>
      <div class="col-9-m">
        Applies a right offset of 66.66667% to medium devices (tablet) and up
      </div>
    </div>
  </li>
  <li class="pad-top-5 pad-bottom-5">
    <div class="clear row-m">
      <div class="col-3-m">
        <code>.push-1-4-m</code>
      </div>
      <div class="col-9-m">
        Applies a left offset of 25% to medium devices (tablet) and up
      </div>
    </div>
  </li>
  <li class="pad-top-5 pad-bottom-5">
    <div class="clear row-m">
      <div class="col-3-m">
        <code>.pull-1-4-m</code>
      </div>
      <div class="col-9-m">
        Applies a right offset of 25% to medium devices (tablet) and up
      </div>
    </div>
  </li>
  <li class="pad-top-5 pad-bottom-5">
    <div class="clear row-m">
      <div class="col-3-m">
        <code>.push-3-4-m</code>
      </div>
      <div class="col-9-m">
        Applies a left offset of width: 75% to medium devices (tablet) and up
      </div>
    </div>
  </li>
  <li class="pad-top-5 pad-bottom-5">
    <div class="clear row-m">
      <div class="col-3-m">
        <code>.pull-3-4-m</code>
      </div>
      <div class="col-9-m">
        Applies a right offset of width: 75% to medium devices (tablet) and up
      </div>
    </div>
  </li>
  <li class="pad-top-5 pad-bottom-5">
    <div class="clear row-m">
      <div class="col-3-m">
        <code>.push-1-5-m</code>
      </div>
      <div class="col-9-m">
        Applies a left offset of 20% to medium devices (tablet) and up
      </div>
    </div>
  </li>
  <li class="pad-top-5 pad-bottom-5">
    <div class="clear row-m">
      <div class="col-3-m">
        <code>.pull-1-5-m</code>
      </div>
      <div class="col-9-m">
        Applies a right offset of 20% to medium devices (tablet) and up
      </div>
    </div>
  </li>
  <li class="pad-top-5 pad-bottom-5">
    <div class="clear row-m">
      <div class="col-3-m">
        <code>.push-2-5-m</code>
      </div>
      <div class="col-9-m">
        Applies a left offset of 40% to medium devices (tablet) and up
      </div>
    </div>
  </li>
  <li class="pad-top-5 pad-bottom-5">
    <div class="clear row-m">
      <div class="col-3-m">
        <code>.pull-2-5-m</code>
      </div>
      <div class="col-9-m">
        Applies a right offset of 40% to medium devices (tablet) and up
      </div>
    </div>
  </li>
  <li class="pad-top-5 pad-bottom-5">
    <div class="clear row-m">
      <div class="col-3-m">
        <code>.push-3-5-m</code>
      </div>
      <div class="col-9-m">
        Applies a left offset of 60% to medium devices (tablet) and up
      </div>
    </div>
  </li>
  <li class="pad-top-5 pad-bottom-5">
    <div class="clear row-m">
      <div class="col-3-m">
        <code>.pull-3-5-m</code>
      </div>
      <div class="col-9-m">
        Applies a right offset of 60% to medium devices (tablet) and up
      </div>
    </div>
  </li>
  <li class="pad-top-5 pad-bottom-5">
    <div class="clear row-m">
      <div class="col-3-m">
        <code>.push-4-5-m</code>
      </div>
      <div class="col-9-m">
        Applies a left offset of 80% to medium devices (tablet) and up
      </div>
    </div>
  </li>
  <li class="pad-top-5 pad-bottom-5">
    <div class="clear row-m">
      <div class="col-3-m">
        <code>.pull-4-5-m</code>
      </div>
      <div class="col-9-m">
        Applies a right offset of 80% to medium devices (tablet) and up
      </div>
    </div>
  </li>
  <li class="pad-top-5 pad-bottom-5">
    <div class="clear row-m">
      <div class="col-3-m">
        <code>.push-1-l</code>
      </div>
      <div class="col-9-m">
        Applies a left offset of 8.33333% for large devices (desktop) and up
      </div>
    </div>
  </li>
  <li class="pad-top-5 pad-bottom-5">
    <div class="clear row-m">
      <div class="col-3-m">
        <code>.pull-1-l</code>
      </div>
      <div class="col-9-m">
        Applies a right offset of 8.33333% for large devices (desktop) and up
      </div>
    </div>
  </li>
  <li class="pad-top-5 pad-bottom-5">
    <div class="clear row-m">
      <div class="col-3-m">
        <code>.push-2-l</code>
      </div>
      <div class="col-9-m">
        Applies a left offset of 16.66667% to large devices (desktop) and up
      </div>
    </div>
  </li>
  <li class="pad-top-5 pad-bottom-5">
    <div class="clear row-m">
      <div class="col-3-m">
        <code>.pull-2-l</code>
      </div>
      <div class="col-9-m">
        Applies a right offset of 16.66667% to large devices (desktop) and up
      </div>
    </div>
  </li>
  <li class="pad-top-5 pad-bottom-5">
    <div class="clear row-m">
      <div class="col-3-m">
        <code>.push-3-l</code>
      </div>
      <div class="col-9-m">
        Applies a left offset of 25% to large devices (desktop) and up
      </div>
    </div>
  </li>
  <li class="pad-top-5 pad-bottom-5">
    <div class="clear row-m">
      <div class="col-3-m">
        <code>.pull-3-l</code>
      </div>
      <div class="col-9-m">
        Applies a right offset of 25% to large devices (desktop) and up
      </div>
    </div>
  </li>
  <li class="pad-top-5 pad-bottom-5">
    <div class="clear row-m">
      <div class="col-3-m">
        <code>.push-4-l</code>
      </div>
      <div class="col-9-m">
        Applies a left offset of 33.33333% to large devices (desktop) and up
      </div>
    </div>
  </li>
  <li class="pad-top-5 pad-bottom-5">
    <div class="clear row-m">
      <div class="col-3-m">
        <code>.pull-4-l</code>
      </div>
      <div class="col-9-m">
        Applies a right offset of 33.33333% to large devices (desktop) and up
      </div>
    </div>
  </li>
  <li class="pad-top-5 pad-bottom-5">
    <div class="clear row-m">
      <div class="col-3-m">
        <code>.push-5-l</code>
      </div>
      <div class="col-9-m">
        Applies a left offset of 41.66667% to large devices (desktop) and up
      </div>
    </div>
  </li>
  <li class="pad-top-5 pad-bottom-5">
    <div class="clear row-m">
      <div class="col-3-m">
        <code>.pull-5-l</code>
      </div>
      <div class="col-9-m">
        Applies a right offset of 41.66667% to large devices (desktop) and up
      </div>
    </div>
  </li>
  <li class="pad-top-5 pad-bottom-5">
    <div class="clear row-m">
      <div class="col-3-m">
        <code>.push-6-l</code>
      </div>
      <div class="col-9-m">
        Applies a left offset of 50% to large devices (desktop) and up
      </div>
    </div>
  </li>
  <li class="pad-top-5 pad-bottom-5">
    <div class="clear row-m">
      <div class="col-3-m">
        <code>.pull-6-l</code>
      </div>
      <div class="col-9-m">
        Applies a right offset of 50% to large devices (desktop) and up
      </div>
    </div>
  </li>
  <li class="pad-top-5 pad-bottom-5">
    <div class="clear row-m">
      <div class="col-3-m">
        <code>.push-7-l</code>
      </div>
      <div class="col-9-m">
        Applies a left offset of 58.33333% to large devices (desktop) and up
      </div>
    </div>
  </li>
  <li class="pad-top-5 pad-bottom-5">
    <div class="clear row-m">
      <div class="col-3-m">
        <code>.pull-7-l</code>
      </div>
      <div class="col-9-m">
        Applies a right offset of 58.33333% to large devices (desktop) and up
      </div>
    </div>
  </li>
  <li class="pad-top-5 pad-bottom-5">
    <div class="clear row-m">
      <div class="col-3-m">
        <code>.push-8-l</code>
      </div>
      <div class="col-9-m">
        Applies a left offset of 66.66667% to large devices (desktop) and up
      </div>
    </div>
  </li>
  <li class="pad-top-5 pad-bottom-5">
    <div class="clear row-m">
      <div class="col-3-m">
        <code>.pull-8-l</code>
      </div>
      <div class="col-9-m">
        Applies a right offset of 66.66667% to large devices (desktop) and up
      </div>
    </div>
  </li>
  <li class="pad-top-5 pad-bottom-5">
    <div class="clear row-m">
      <div class="col-3-m">
        <code>.push-9-l</code>
      </div>
      <div class="col-9-m">
        Applies a left offset of 75% to large devices (desktop) and up
      </div>
    </div>
  </li>
  <li class="pad-top-5 pad-bottom-5">
    <div class="clear row-m">
      <div class="col-3-m">
        <code>.pull-9-l</code>
      </div>
      <div class="col-9-m">
        Applies a right offset of 75% to large devices (desktop) and up
      </div>
    </div>
  </li>
  <li class="pad-top-5 pad-bottom-5">
    <div class="clear row-m">
      <div class="col-3-m">
        <code>.push-10-l</code>
      </div>
      <div class="col-9-m">
        Applies a left offset of 83.33333% to large devices (desktop) and up
      </div>
    </div>
  </li>
  <li class="pad-top-5 pad-bottom-5">
    <div class="clear row-m">
      <div class="col-3-m">
        <code>.pull-10-l</code>
      </div>
      <div class="col-9-m">
        Applies a right offset of 83.33333% to large devices (desktop) and up
      </div>
    </div>
  </li>
  <li class="pad-top-5 pad-bottom-5">
    <div class="clear row-m">
      <div class="col-3-m">
        <code>.push-11-l</code>
      </div>
      <div class="col-9-m">
        Applies a left offset of 91.66667% to large devices (desktop) and up
      </div>
    </div>
  </li>
  <li class="pad-top-5 pad-bottom-5">
    <div class="clear row-m">
      <div class="col-3-m">
        <code>.pull-11-l</code>
      </div>
      <div class="col-9-m">
        Applies a right offset of 91.66667% to large devices (desktop) and up
      </div>
    </div>
  </li>
  <li class="pad-top-5 pad-bottom-5">
    <div class="clear row-m">
      <div class="col-3-m">
        <code>.push-1-2-l</code>
      </div>
      <div class="col-9-m">
        Applies a left offset of 50% to large devices (desktop) and up
      </div>
    </div>
  </li>
  <li class="pad-top-5 pad-bottom-5">
    <div class="clear row-m">
      <div class="col-3-m">
        <code>.pull-1-2-l</code>
      </div>
      <div class="col-9-m">
        Applies a right offset of 50% to large devices (desktop) and up
      </div>
    </div>
  </li>
  <li class="pad-top-5 pad-bottom-5">
    <div class="clear row-m">
      <div class="col-3-m">
        <code>.push-1-3-l</code>
      </div>
      <div class="col-9-m">
        Applies a left offset of 33.33333% to large devices (desktop) and up
      </div>
    </div>
  </li>
  <li class="pad-top-5 pad-bottom-5">
    <div class="clear row-m">
      <div class="col-3-m">
        <code>.pull-1-3-l</code>
      </div>
      <div class="col-9-m">
        Applies a right offset of 33.33333% to large devices (desktop) and up
      </div>
    </div>
  </li>
  <li class="pad-top-5 pad-bottom-5">
    <div class="clear row-m">
      <div class="col-3-m">
        <code>.push-2-3-l</code>
      </div>
      <div class="col-9-m">
        Applies a left offset of 66.66667% to large devices (desktop) and up
      </div>
    </div>
  </li>
  <li class="pad-top-5 pad-bottom-5">
    <div class="clear row-m">
      <div class="col-3-m">
        <code>.pull-2-3-l</code>
      </div>
      <div class="col-9-m">
        Applies a right offset of 66.66667% to large devices (desktop) and up
      </div>
    </div>
  </li>
  <li class="pad-top-5 pad-bottom-5">
    <div class="clear row-m">
      <div class="col-3-m">
        <code>.push-1-4-l</code>
      </div>
      <div class="col-9-m">
        Applies a left offset of 25% to large devices (desktop) and up
      </div>
    </div>
  </li>
  <li class="pad-top-5 pad-bottom-5">
    <div class="clear row-m">
      <div class="col-3-m">
        <code>.pull-1-4-l</code>
      </div>
      <div class="col-9-m">
        Applies a right offset of 25% to large devices (desktop) and up
      </div>
    </div>
  </li>
  <li class="pad-top-5 pad-bottom-5">
    <div class="clear row-m">
      <div class="col-3-m">
        <code>.push-3-4-l</code>
      </div>
      <div class="col-9-m">
        Applies a left offset of width: 75% to large devices (desktop) and up
      </div>
    </div>
  </li>
  <li class="pad-top-5 pad-bottom-5">
    <div class="clear row-m">
      <div class="col-3-m">
        <code>.pull-3-4-l</code>
      </div>
      <div class="col-9-m">
        Applies a right offset of width: 75% to large devices (desktop) and up
      </div>
    </div>
  </li>
  <li class="pad-top-5 pad-bottom-5">
    <div class="clear row-m">
      <div class="col-3-m">
        <code>.push-1-5-l</code>
      </div>
      <div class="col-9-m">
        Applies a left offset of 20% to large devices (desktop) and up
      </div>
    </div>
  </li>
  <li class="pad-top-5 pad-bottom-5">
    <div class="clear row-m">
      <div class="col-3-m">
        <code>.pull-1-5-l</code>
      </div>
      <div class="col-9-m">
        Applies a right offset of 20% to large devices (desktop) and up
      </div>
    </div>
  </li>
  <li class="pad-top-5 pad-bottom-5">
    <div class="clear row-m">
      <div class="col-3-m">
        <code>.push-2-5-l</code>
      </div>
      <div class="col-9-m">
        Applies a left offset of 40% to large devices (desktop) and up
      </div>
    </div>
  </li>
  <li class="pad-top-5 pad-bottom-5">
    <div class="clear row-m">
      <div class="col-3-m">
        <code>.pull-2-5-l</code>
      </div>
      <div class="col-9-m">
        Applies a right offset of 40% to large devices (desktop) and up
      </div>
    </div>
  </li>
  <li class="pad-top-5 pad-bottom-5">
    <div class="clear row-m">
      <div class="col-3-m">
        <code>.push-3-5-l</code>
      </div>
      <div class="col-9-m">
        Applies a left offset of 60% to large devices (desktop) and up
      </div>
    </div>
  </li>
  <li class="pad-top-5 pad-bottom-5">
    <div class="clear row-m">
      <div class="col-3-m">
        <code>.pull-3-5-l</code>
      </div>
      <div class="col-9-m">
        Applies a right offset of 60% to large devices (desktop) and up
      </div>
    </div>
  </li>
  <li class="pad-top-5 pad-bottom-5">
    <div class="clear row-m">
      <div class="col-3-m">
        <code>.push-4-5-l</code>
      </div>
      <div class="col-9-m">
        Applies a left offset of 80% to large devices (desktop) and up
      </div>
    </div>
  </li>
  <li class="pad-top-5 pad-bottom-5">
    <div class="clear row-m">
      <div class="col-3-m">
        <code>.pull-4-5-l</code>
      </div>
      <div class="col-9-m">
        Applies a right offset of 80% to large devices (desktop) and up
      </div>
    </div>
  </li>
  <li class="pad-top-5 pad-bottom-5">
    <div class="clear row-m">
      <div class="col-3-m">
        <code>.push-1-xl</code>
      </div>
      <div class="col-9-m">
        Applies a left offset of 8.33333% for extra large devices (HD) and up
      </div>
    </div>
  </li>
  <li class="pad-top-5 pad-bottom-5">
    <div class="clear row-m">
      <div class="col-3-m">
        <code>.pull-1-xl</code>
      </div>
      <div class="col-9-m">
        Applies a right offset of 8.33333% for extra large devices (HD) and up
      </div>
    </div>
  </li>
  <li class="pad-top-5 pad-bottom-5">
    <div class="clear row-m">
      <div class="col-3-m">
        <code>.push-2-xl</code>
      </div>
      <div class="col-9-m">
        Applies a left offset of 16.66667% to extra large devices (HD) and up
      </div>
    </div>
  </li>
  <li class="pad-top-5 pad-bottom-5">
    <div class="clear row-m">
      <div class="col-3-m">
        <code>.pull-2-xl</code>
      </div>
      <div class="col-9-m">
        Applies a right offset of 16.66667% to extra large devices (HD) and up
      </div>
    </div>
  </li>
  <li class="pad-top-5 pad-bottom-5">
    <div class="clear row-m">
      <div class="col-3-m">
        <code>.push-3-xl</code>
      </div>
      <div class="col-9-m">
        Applies a left offset of 25% to extra large devices (HD) and up
      </div>
    </div>
  </li>
  <li class="pad-top-5 pad-bottom-5">
    <div class="clear row-m">
      <div class="col-3-m">
        <code>.pull-3-xl</code>
      </div>
      <div class="col-9-m">
        Applies a right offset of 25% to extra large devices (HD) and up
      </div>
    </div>
  </li>
  <li class="pad-top-5 pad-bottom-5">
    <div class="clear row-m">
      <div class="col-3-m">
        <code>.push-4-xl</code>
      </div>
      <div class="col-9-m">
        Applies a left offset of 33.33333% to extra large devices (HD) and up
      </div>
    </div>
  </li>
  <li class="pad-top-5 pad-bottom-5">
    <div class="clear row-m">
      <div class="col-3-m">
        <code>.pull-4-xl</code>
      </div>
      <div class="col-9-m">
        Applies a right offset of 33.33333% to extra large devices (HD) and up
      </div>
    </div>
  </li>
  <li class="pad-top-5 pad-bottom-5">
    <div class="clear row-m">
      <div class="col-3-m">
        <code>.push-5-xl</code>
      </div>
      <div class="col-9-m">
        Applies a left offset of 41.66667% to extra large devices (HD) and up
      </div>
    </div>
  </li>
  <li class="pad-top-5 pad-bottom-5">
    <div class="clear row-m">
      <div class="col-3-m">
        <code>.pull-5-xl</code>
      </div>
      <div class="col-9-m">
        Applies a right offset of 41.66667% to extra large devices (HD) and up
      </div>
    </div>
  </li>
  <li class="pad-top-5 pad-bottom-5">
    <div class="clear row-m">
      <div class="col-3-m">
        <code>.push-6-xl</code>
      </div>
      <div class="col-9-m">
        Applies a left offset of 50% to extra large devices (HD) and up
      </div>
    </div>
  </li>
  <li class="pad-top-5 pad-bottom-5">
    <div class="clear row-m">
      <div class="col-3-m">
        <code>.pull-6-xl</code>
      </div>
      <div class="col-9-m">
        Applies a right offset of 50% to extra large devices (HD) and up
      </div>
    </div>
  </li>
  <li class="pad-top-5 pad-bottom-5">
    <div class="clear row-m">
      <div class="col-3-m">
        <code>.push-7-xl</code>
      </div>
      <div class="col-9-m">
        Applies a left offset of 58.33333% to extra large devices (HD) and up
      </div>
    </div>
  </li>
  <li class="pad-top-5 pad-bottom-5">
    <div class="clear row-m">
      <div class="col-3-m">
        <code>.pull-7-xl</code>
      </div>
      <div class="col-9-m">
        Applies a right offset of 58.33333% to extra large devices (HD) and up
      </div>
    </div>
  </li>
  <li class="pad-top-5 pad-bottom-5">
    <div class="clear row-m">
      <div class="col-3-m">
        <code>.push-8-xl</code>
      </div>
      <div class="col-9-m">
        Applies a left offset of 66.66667% to extra large devices (HD) and up
      </div>
    </div>
  </li>
  <li class="pad-top-5 pad-bottom-5">
    <div class="clear row-m">
      <div class="col-3-m">
        <code>.pull-8-xl</code>
      </div>
      <div class="col-9-m">
        Applies a right offset of 66.66667% to extra large devices (HD) and up
      </div>
    </div>
  </li>
  <li class="pad-top-5 pad-bottom-5">
    <div class="clear row-m">
      <div class="col-3-m">
        <code>.push-9-xl</code>
      </div>
      <div class="col-9-m">
        Applies a left offset of 75% to extra large devices (HD) and up
      </div>
    </div>
  </li>
  <li class="pad-top-5 pad-bottom-5">
    <div class="clear row-m">
      <div class="col-3-m">
        <code>.pull-9-xl</code>
      </div>
      <div class="col-9-m">
        Applies a right offset of 75% to extra large devices (HD) and up
      </div>
    </div>
  </li>
  <li class="pad-top-5 pad-bottom-5">
    <div class="clear row-m">
      <div class="col-3-m">
        <code>.push-10-xl</code>
      </div>
      <div class="col-9-m">
        Applies a left offset of 83.33333% to extra large devices (HD) and up
      </div>
    </div>
  </li>
  <li class="pad-top-5 pad-bottom-5">
    <div class="clear row-m">
      <div class="col-3-m">
        <code>.pull-10-xl</code>
      </div>
      <div class="col-9-m">
        Applies a right offset of 83.33333% to extra large devices (HD) and up
      </div>
    </div>
  </li>
  <li class="pad-top-5 pad-bottom-5">
    <div class="clear row-m">
      <div class="col-3-m">
        <code>.push-11-xl</code>
      </div>
      <div class="col-9-m">
        Applies a left offset of 91.66667% to extra large devices (HD) and up
      </div>
    </div>
  </li>
  <li class="pad-top-5 pad-bottom-5">
    <div class="clear row-m">
      <div class="col-3-m">
        <code>.pull-11-xl</code>
      </div>
      <div class="col-9-m">
        Applies a right offset of 91.66667% to extra large devices (HD) and up
      </div>
    </div>
  </li>
  <li class="pad-top-5 pad-bottom-5">
    <div class="clear row-m">
      <div class="col-3-m">
        <code>.push-1-2-xl</code>
      </div>
      <div class="col-9-m">
        Applies a left offset of 50% to extra large devices (HD) and up
      </div>
    </div>
  </li>
  <li class="pad-top-5 pad-bottom-5">
    <div class="clear row-m">
      <div class="col-3-m">
        <code>.pull-1-2-xl</code>
      </div>
      <div class="col-9-m">
        Applies a right offset of 50% to extra large devices (HD) and up
      </div>
    </div>
  </li>
  <li class="pad-top-5 pad-bottom-5">
    <div class="clear row-m">
      <div class="col-3-m">
        <code>.push-1-3-xl</code>
      </div>
      <div class="col-9-m">
        Applies a left offset of 33.33333% to extra large devices (HD) and up
      </div>
    </div>
  </li>
  <li class="pad-top-5 pad-bottom-5">
    <div class="clear row-m">
      <div class="col-3-m">
        <code>.pull-1-3-xl</code>
      </div>
      <div class="col-9-m">
        Applies a right offset of 33.33333% to extra large devices (HD) and up
      </div>
    </div>
  </li>
  <li class="pad-top-5 pad-bottom-5">
    <div class="clear row-m">
      <div class="col-3-m">
        <code>.push-2-3-xl</code>
      </div>
      <div class="col-9-m">
        Applies a left offset of 66.66667% to extra large devices (HD) and up
      </div>
    </div>
  </li>
  <li class="pad-top-5 pad-bottom-5">
    <div class="clear row-m">
      <div class="col-3-m">
        <code>.pull-2-3-xl</code>
      </div>
      <div class="col-9-m">
        Applies a right offset of 66.66667% to extra large devices (HD) and up
      </div>
    </div>
  </li>
  <li class="pad-top-5 pad-bottom-5">
    <div class="clear row-m">
      <div class="col-3-m">
        <code>.push-1-4-xl</code>
      </div>
      <div class="col-9-m">
        Applies a left offset of 25% to extra large devices (HD) and up
      </div>
    </div>
  </li>
  <li class="pad-top-5 pad-bottom-5">
    <div class="clear row-m">
      <div class="col-3-m">
        <code>.pull-1-4-xl</code>
      </div>
      <div class="col-9-m">
        Applies a right offset of 25% to extra large devices (HD) and up
      </div>
    </div>
  </li>
  <li class="pad-top-5 pad-bottom-5">
    <div class="clear row-m">
      <div class="col-3-m">
        <code>.push-3-4-xl</code>
      </div>
      <div class="col-9-m">
        Applies a left offset of width: 75% to extra large devices (HD) and up
      </div>
    </div>
  </li>
  <li class="pad-top-5 pad-bottom-5">
    <div class="clear row-m">
      <div class="col-3-m">
        <code>.pull-3-4-xl</code>
      </div>
      <div class="col-9-m">
        Applies a right offset of width: 75% to extra large devices (HD) and up
      </div>
    </div>
  </li>
  <li class="pad-top-5 pad-bottom-5">
    <div class="clear row-m">
      <div class="col-3-m">
        <code>.push-1-5-xl</code>
      </div>
      <div class="col-9-m">
        Applies a left offset of 20% to extra large devices (HD) and up
      </div>
    </div>
  </li>
  <li class="pad-top-5 pad-bottom-5">
    <div class="clear row-m">
      <div class="col-3-m">
        <code>.pull-1-5-xl</code>
      </div>
      <div class="col-9-m">
        Applies a right offset of 20% to extra large devices (HD) and up
      </div>
    </div>
  </li>
  <li class="pad-top-5 pad-bottom-5">
    <div class="clear row-m">
      <div class="col-3-m">
        <code>.push-2-5-xl</code>
      </div>
      <div class="col-9-m">
        Applies a left offset of 40% to extra large devices (HD) and up
      </div>
    </div>
  </li>
  <li class="pad-top-5 pad-bottom-5">
    <div class="clear row-m">
      <div class="col-3-m">
        <code>.pull-2-5-xl</code>
      </div>
      <div class="col-9-m">
        Applies a right offset of 40% to extra large devices (HD) and up
      </div>
    </div>
  </li>
  <li class="pad-top-5 pad-bottom-5">
    <div class="clear row-m">
      <div class="col-3-m">
        <code>.push-3-5-xl</code>
      </div>
      <div class="col-9-m">
        Applies a left offset of 60% to extra large devices (HD) and up
      </div>
    </div>
  </li>
  <li class="pad-top-5 pad-bottom-5">
    <div class="clear row-m">
      <div class="col-3-m">
        <code>.pull-3-5-xl</code>
      </div>
      <div class="col-9-m">
        Applies a right offset of 60% to extra large devices (HD) and up
      </div>
    </div>
  </li>
  <li class="pad-top-5 pad-bottom-5">
    <div class="clear row-m">
      <div class="col-3-m">
        <code>.push-4-5-xl</code>
      </div>
      <div class="col-9-m">
        Applies a left offset of 80% to extra large devices (HD) and up
      </div>
    </div>
  </li>
  <li class="pad-top-5 pad-bottom-5">
    <div class="clear row-m">
      <div class="col-3-m">
        <code>.pull-4-5-xl</code>
      </div>
      <div class="col-9-m">
        Applies a right offset of 80% to extra large devices (HD) and up
      </div>
    </div>
  </li>
</ul>
