<div class="grid-example">
      <div class="row clear pad-top-5 pad-bottom-5">
        <div class="col-4 push-8 col-7-m push-5-m col-3-l push-9-l col-2-xl push-10-xl">
          <div class="column-content">
            <span class="none-m">col 4 with push 8</span>
            <span class="none block-m none-l">col 7 with push 5</span>
            <span class="none block-l none-xl">col 3 with push 9</span>
            <span class="none block-xl">col 2 with push 10</span>
          </div>
        </div>
        <div class="col-8 pull-4 col-5-m pull-7-m col-9-l pull-3-l col-10-xl pull-2-xl">
          <div class="column-content">
            <span class="none-m">col 8 with pull 8</span>
            <span class="none block-m none-l">col 5 with pull 7</span>
            <span class="none block-l none-xl">col 9 with pull 3</span>
            <span class="none block-xl">col 10 with pull 2</span>
          </div>
        </div>
      </div>
    </div>
<div class="clear pad-10"></div>
{% highlight html %}
<div class="row clear pad-top-5 pad-bottom-5">
  <div class="col-4 push-8 col-7-m push-5-m col-3-l push-9-l col-2-xl push-10-xl">
    content...
  </div>
  <div class="col-8 pull-4 col-5-m pull-7-m col-9-l pull-3-l col-10-xl pull-2-xl">
    content...
  </div>
</div>
{% endhighlight %}