<div class="bs-docs-section">
  <h1 id="list-group" class="page-header">List group</h1>

  <h2 id="list-group-basic">List of Doctors</h2>
  <div class="bs-example bg_orange_white bs-example-full" data-example-id="list-group-doctors-content">
    <ul class="list-group">
      <li class="list-group-item pad-top-0-l pad-bottom-0-l">
        <div class="doctors_info_wrap row">
          <div class="col-2-m col-3">
            <div class="doc_avatar_wrap pad-10-l">
              <img src="{{site.baseurl}}/img/avatar_example.jpg" class="doc_avatar">
              <span class="doc_status_icon">
                <img src="{{site.baseurl}}/img/icons-video.svg" class="svg">
              </span>
            </div>
          </div>

          <div class="col-10-m col-9">
            <div class="col-7-l pad-top-5 pad-top-30-l doc_desc_wrap">
              <h4 class="list-group-item-heading">Dr. Lisa Bennet</h4>
              <p class="list-group-item-text"><img src="{{site.baseurl}}/img/icon-providers.svg" class="svg"> Licensed Professional Counselor</p>
            </div>

            <div class="col-5-l pad-top-5 pad-top-15-l pad-bottom-20 doc_options">
              <div class="availability">
                <span class="title">Available by:</span>
                <span class="info video"><img src="{{site.baseurl}}/img/icons-video.svg" class="svg"> Video</span>
                <span class="info phone"><img src="{{site.baseurl}}/img/icons-phone.svg" class="svg"> Phone</span>
              </div>
              <div class="options">
                <a class="btn btn-default" href="#" role="button">Visit Now</a>
                <a class="btn btn-terciary" href="#" role="button">Schedule</a>
              </div>
            </div>
          </div>
        </div>
      </li>
      
      <li class="list-group-item pad-top-0-l pad-bottom-0-l">
        <div class="doctors_info_wrap row">
          <div class="col-2-m col-3">
            <div class="doc_avatar_wrap pad-10-l">
              <img src="{{site.baseurl}}/img/avatar_example.jpg" class="doc_avatar">
              <span class="doc_status_icon">
                <img src="{{site.baseurl}}/img/icons-video.svg" class="svg">
              </span>
            </div>
          </div>

          <div class="col-10-m col-9">
            <div class="col-7-l pad-top-5 pad-top-30-l doc_desc_wrap">
              <h4 class="list-group-item-heading">Dr. Lisa Bennet</h4>
              <p class="list-group-item-text"><img src="{{site.baseurl}}/img/icon-providers.svg" class="svg"> Licensed Professional Counselor</p>
            </div>

            <div class="col-5-l pad-top-5 pad-top-15-l pad-bottom-20 doc_options">
              <div class="availability">
                <span class="title">Available by:</span>
                <span class="info video"><img src="{{site.baseurl}}/img/icons-video.svg" class="svg"> Video</span>
                <span class="info phone"><img src="{{site.baseurl}}/img/icons-phone.svg" class="svg"> Phone</span>
              </div>
              <div class="options">
                <a class="btn btn-default" href="#" role="button">Visit Now</a>
                <a class="btn btn-terciary" href="#" role="button">Schedule</a>
              </div>
            </div>
          </div>
        </div>
      </li>

      <li class="list-group-item pad-top-0-l pad-bottom-0-l">
        <div class="doctors_info_wrap row">
          <div class="col-2-m col-3">
            <div class="doc_avatar_wrap pad-10-l">
              <img src="{{site.baseurl}}/img/avatar_example.jpg" class="doc_avatar">
              <span class="doc_status_icon">
                <img src="{{site.baseurl}}/img/icons-video.svg" class="svg">
              </span>
            </div>
          </div>

          <div class="col-10-m col-9">
            <div class="col-7-l pad-top-5 pad-top-30-l doc_desc_wrap">
              <h4 class="list-group-item-heading">Dr. Lisa Bennet</h4>
              <p class="list-group-item-text"><img src="{{site.baseurl}}/img/icon-providers.svg" class="svg"> Licensed Professional Counselor</p>
            </div>

            <div class="col-5-l pad-top-5 pad-top-15-l pad-bottom-20 doc_options">
              <div class="availability">
                <span class="title">Available by:</span>
                <span class="info video"><img src="{{site.baseurl}}/img/icons-video.svg" class="svg"> Video</span>
                <span class="info phone"><img src="{{site.baseurl}}/img/icons-phone.svg" class="svg"> Phone</span>
              </div>
              <div class="options">
                <a class="btn btn-default" href="#" role="button">Visit Now</a>
                <a class="btn btn-terciary" href="#" role="button">Schedule</a>
              </div>
            </div>
          </div>
        </div>
      </li>

      <li class="list-group-item pad-top-0-l pad-bottom-0-l">
        <div class="doctors_info_wrap row">
          <div class="col-2-m col-3">
            <div class="doc_avatar_wrap pad-10-l">
              <img src="{{site.baseurl}}/img/avatar_example.jpg" class="doc_avatar">
              <span class="doc_status_icon">
                <img src="{{site.baseurl}}/img/icons-video.svg" class="svg">
              </span>
            </div>
          </div>

          <div class="col-10-m col-9">
            <div class="col-7-l pad-top-5 pad-top-30-l doc_desc_wrap">
              <h4 class="list-group-item-heading">Dr. Lisa Bennet</h4>
              <p class="list-group-item-text"><img src="{{site.baseurl}}/img/icon-providers.svg" class="svg"> Licensed Professional Counselor</p>
            </div>

            <div class="col-5-l pad-top-5 pad-top-15-l pad-bottom-20 doc_options">
              <div class="availability">
                <span class="title">Available by:</span>
                <span class="info video"><img src="{{site.baseurl}}/img/icons-video.svg" class="svg"> Video</span>
                <span class="info phone"><img src="{{site.baseurl}}/img/icons-phone.svg" class="svg"> Phone</span>
              </div>
              <div class="options">
                <a class="btn btn-default" href="#" role="button">Visit Now</a>
                <a class="btn btn-terciary" href="#" role="button">Schedule</a>
              </div>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
{% highlight html %}
<ul class="list-group">
  <li class="list-group-item pad-top-0-l pad-bottom-0-l">
    <div class="doctors_info_wrap row">
      <div class="col-2-m col-3">
        <div class="doc_avatar_wrap pad-10-l">
          <img src="{{site.baseurl}}/img/avatar_example.jpg" class="doc_avatar">
          <span class="doc_status_icon">
            <img src="{{site.baseurl}}/img/icons-video.svg" class="svg">
          </span>
        </div>
      </div>

      <div class="col-10-m col-9">
        <div class="col-7-l pad-top-5 pad-top-30-l doc_desc_wrap">
          <h4 class="list-group-item-heading">Dr. Lisa Bennet</h4>
          <p class="list-group-item-text"><img src="{{site.baseurl}}/img/icon-providers.svg" class="svg"> Licensed Professional Counselor</p>
        </div>

        <div class="col-5-l pad-top-5 pad-top-15-l pad-bottom-20 doc_options">
          <div class="availability">
            <span class="title">Available by:</span>
            <span class="info video"><img src="{{site.baseurl}}/img/icons-video.svg" class="svg"> Video</span>
            <span class="info phone"><img src="{{site.baseurl}}/img/icons-phone.svg" class="svg"> Phone</span>
          </div>
          <div class="options">
            <a class="btn btn-default" href="#" role="button">Visit Now</a>
            <a class="btn btn-terciary" href="#" role="button">Schedule</a>
          </div>
        </div>
      </div>
    </div>
  </li>
</ul>
{% endhighlight %}
  <h2 id="list-group-basic">Basic List Group</h2>
  <div class="bs-example" data-example-id="simple-list-group">
    <ul class="list-group">
      <li class="list-group-item">Cras justo odio</li>
      <li class="list-group-item">Dapibus ac facilisis in</li>
      <li class="list-group-item">Morbi leo risus</li>
      <li class="list-group-item">Porta ac consectetur ac</li>
      <li class="list-group-item">Vestibulum at eros</li>
    </ul>
  </div>
{% highlight html %}
<ul class="list-group">
  <li class="list-group-item">Cras justo odio</li>
  <li class="list-group-item">Dapibus ac facilisis in</li>
  <li class="list-group-item">Morbi leo risus</li>
  <li class="list-group-item">Porta ac consectetur ac</li>
  <li class="list-group-item">Vestibulum at eros</li>
</ul>
{% endhighlight %}

  <h2 id="list-group-badges">Badges</h2>
  <div class="bs-example" data-example-id="list-group-badges">
    <ul class="list-group">
      <li class="list-group-item">
        <span class="badge">14</span>
        Cras justo odio
      </li>
      <li class="list-group-item">
        <span class="badge">2</span>
        Dapibus ac facilisis in
      </li>
      <li class="list-group-item">
        <span class="badge">1</span>
        Morbi leo risus
      </li>
    </ul>
  </div>
{% highlight html %}
<ul class="list-group">
  <li class="list-group-item">
    <span class="badge">14</span>
    Cras justo odio
  </li>
</ul>
{% endhighlight %}

  <h2 id="list-group-linked">Linked items</h2>
  <div class="bs-example" data-example-id="list-group-anchors">
    <div class="list-group">
      <a href="#" class="list-group-item active">
        Cras justo odio
      </a>
      <a href="#" class="list-group-item">Dapibus ac facilisis in</a>
      <a href="#" class="list-group-item">Morbi leo risus</a>
      <a href="#" class="list-group-item">Porta ac consectetur ac</a>
      <a href="#" class="list-group-item">Vestibulum at eros</a>
    </div>
  </div>
{% highlight html %}
<div class="list-group">
  <a href="#" class="list-group-item active">
    Cras justo odio
  </a>
  <a href="#" class="list-group-item">Dapibus ac facilisis in</a>
  <a href="#" class="list-group-item">Morbi leo risus</a>
  <a href="#" class="list-group-item">Porta ac consectetur ac</a>
  <a href="#" class="list-group-item">Vestibulum at eros</a>
</div>
{% endhighlight %}

  <h2 id="list-group-buttons">Button items</h2>
  <div class="bs-example" data-example-id="list-group-btns">
    <div class="list-group">
      <button type="button" class="list-group-item">Cras justo odio</button>
      <button type="button" class="list-group-item">Dapibus ac facilisis in</button>
      <button type="button" class="list-group-item">Morbi leo risus</button>
      <button type="button" class="list-group-item">Porta ac consectetur ac</button>
      <button type="button" class="list-group-item">Vestibulum at eros</button>
    </div>
  </div>
{% highlight html %}
<div class="list-group">
  <button type="button" class="list-group-item">Cras justo odio</button>
  <button type="button" class="list-group-item">Dapibus ac facilisis in</button>
  <button type="button" class="list-group-item">Morbi leo risus</button>
  <button type="button" class="list-group-item">Porta ac consectetur ac</button>
  <button type="button" class="list-group-item">Vestibulum at eros</button>
</div>
{% endhighlight %}

  <h2 id="list-group-disabled">Disabled items</h2>
  <div class="bs-example" data-example-id="list-group-disabled">
    <div class="list-group">
      <a href="#" class="list-group-item disabled">
        Cras justo odio
      </a>
      <a href="#" class="list-group-item">Dapibus ac facilisis in</a>
      <a href="#" class="list-group-item">Morbi leo risus</a>
      <a href="#" class="list-group-item">Porta ac consectetur ac</a>
      <a href="#" class="list-group-item">Vestibulum at eros</a>
    </div>
  </div>
{% highlight html %}
<div class="list-group">
  <a href="#" class="list-group-item disabled">
    Cras justo odio
  </a>
  <a href="#" class="list-group-item">Dapibus ac facilisis in</a>
  <a href="#" class="list-group-item">Morbi leo risus</a>
  <a href="#" class="list-group-item">Porta ac consectetur ac</a>
  <a href="#" class="list-group-item">Vestibulum at eros</a>
</div>
{% endhighlight %}
</div>
